.search-bar-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin: 2%;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  .buttons-form {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 100%;
    flex-wrap: wrap;
    margin-top: 5%;
    button {
      margin: 0 2%;
    }
  }
}

.input-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  .search-bar-conainer {
    display: flex;
    flex-direction: column;
  }
}

.main-container {
  display: grid;
  grid-template-columns: repeat(4,1fr);
  grid-template-rows: auto;
}

.error-message {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  align-items: center;
  margin-left: 3%;
}

.loading-spinner-container {
  margin: 0 5%;
}
