.header-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  height: auto;
}

.body-container {
  display: grid;
  grid-template-columns: 1fr 7fr;
  grid-template-rows: 1fr;
  height: 87vh;
  gap: 2%;
}
