.header-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  height: auto;
}

.body-container {
  display: grid;
  grid-template-columns: 1fr 7fr;
  grid-template-rows: 1fr;
  gap: 2%;
  min-height: 90vh;
}
