.main-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 80vh;
  .login-img-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 40%;
    width: 40vw;
    img {
      max-height: 50%;
      max-width: 40%;
    }
    p {
      margin: 0;
      width: 50%;
    }
  }
}

.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

#user-email {
  width: 100%;
}

.login-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 5% 0;
}

.back-container {
  a {
    color: wheat;
  }
}
