<section class="main-container">
  <div class="login-img-container">
    <img src="../../../../assets/Icons/login.png" alt="login icon">
    <h2>Recover Password</h2>
    <p>Please type and send you email a we'll send you an email for set a new password</p>
  </div>
  <div *ngIf="recoverForm">
    <form [formGroup]="recoverForm" (ngSubmit)="onSubmit()" class="form-container">
      <label for="user-email" class="block">Email</label>
      <input id="user-email" formControlName="email" type="email" pInputText placeholder="Email">
      <div class="login-button-container">
        <div class="loading-spinner-container">
          <i *ngIf="showSpinner" class="pi pi-spin pi-spinner" style="font-size: 2rem"></i>
        </div>
        <button *ngIf="!showSpinner" pButton pRipple type="submit" label="Sign in"
        class="p-button-outlined" [disabled]="recoverForm.invalid"></button>
      </div>
    </form>
  </div>
  <div class="back-container">
    <a routerLink="/login">Go back</a>
  </div>
</section>
